:root{
  --mainBlue : #2a2a72;
  --lightblue : #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark : #232528;
  --mainYellow : #ffa400;

}

body{
  font-family: "oswald", sans-serif !important ;
  background: var(--mainWhite) !important;
  color : var(--mainDark) !important;

}

.text-title{
  font-family: "permanent marker" , cursive ;
  letter-spacing: 0.3em;
  text-transform: uppercase;

}

.text-blue{
  color: var(--mainBlue);

}

.text-bright {
  color:var(--lightblue);

}

.text-white  {
  color:var(--mainWhite);

}


.logo{
  width: 40px;
  height:40px;
  margin-left:5rem;

}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0!important;
  border-width: black;
  border:0.1rem solid black;

}

.btn-black:hover {
  background: black;
  color: white;
}

.cart-icon{
  color:var(--mainYellow);
  font-size: 1.8rem;
  cursor: pointer;
}


.img-card-container{
  height: 80%;
}

.card-cont{
  height: 370px;
 
}

.footer-card{

 height: 20%;
}